* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(45deg, #816969, #b63c3c00);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contact-container {
    background: linear-gradient(45deg, #a77bf45e, transparent);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  label {
    font-size: 14px;
    color: #0e0e0e;;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f0f0f0;
  }
  
  button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #a8edea, #fed6e3); /* soft gradient */
    color: #333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    transform: scale(1.03);
  }
  